fireenjin-editor {
  display: block;
  color: var(--ion-text-color);
}

fireenjin-editor editorjs-style {
  display: block;
}

fireenjin-editor .ce-toolbox__button--active,
fireenjin-editor .ce-toolbox__button:hover,
fireenjin-editor .ce-toolbar__plus--active,
fireenjin-editor .ce-toolbar__plus:hover,
fireenjin-editor .cdx-settings-button--active,
fireenjin-editor .cdx-settings-button:hover {
  color: var(--ion-color-primary);
}

fireenjin-editor .ce-settings__button--confirm {
  background-color: var(--ion-color-danger) !important;
  color: var(--ion-color-danger-contrast);
}

fireenjin-editor .ce-block--selected .ce-block__content {
  background: var(--ion-color-base-tint);
}

fireenjin-editor .ce-toolbar {
  z-index: 9;
}

fireenjin-editor .ce-toolbox {
  background-color: var(--ion-background-color);
}
fireenjin-editor .ce-toolbar__settings-btn {
  background-color: var(--ion-color-base-shade);
}
fireenjin-editor .ce-inline-toolbar,
fireenjin-editor .ce-conversion-toolbar,
fireenjin-editor .ce-settings {
  color: var(--ion-text-color);
  background-color: var(--ion-color-base-shade);
  border-color: var(--ion-color-base-tint);
}
fireenjin-editor .ce-inline-toolbar__dropdown {
  border-right-color: var(--ion-color-base-tint);
}
fireenjin-editor .ce-inline-toolbar__dropdown:hover,
fireenjin-editor .ce-inline-tool:hover,
fireenjin-editor .ce-settings__button:hover,
fireenjin-editor .cdx-settings-button:hover {
  background-color: var(--ion-color-base-tint);
}
fireenjin-editor .ce-inline-tool,
fireenjin-editor .ce-settings,
fireenjin-editor .cdx-settings-button {
  color: var(--ion-text-color);
}
fireenjin-editor .ce-inline-tool svg,
fireenjin-editor .ce-settings svg,
fireenjin-editor .cdx-settings-button svg {
  fill: var(--ion-text-color);
}
fireenjin-editor .ce-inline-tool--active svg,
fireenjin-editor .cdx-settings-button--active svg {
  fill: var(--ion-color-primary);
}
fireenjin-editor .ce-conversion-tool__icon {
  border-color: var(--ion-color-base-tint);
  background: var(--ion-color-base);
}
fireenjin-editor .ce-conversion-tool--focused {
  background: rgba(var(--ion-color-primary-rgb), 0.2) !important;
}
fireenjin-editor .ce-conversion-tool:hover {
  background-color: var(--ion-color-primary);
  color: var(--ion-text-color);
}
fireenjin-editor .ce-conversion-tool:hover svg {
  color: var(--ion-text-color);
}
fireenjin-editor .ce-inline-toolbar__actions input {
  background: transparent;
}
fireenjin-editor textarea.cdx-input {
  background-color: transparent;
}
fireenjin-editor .editor-partial {
  min-height: 40px;
}
fireenjin-editor .ce-code-tool__textarea {
  min-height: 200px;
  resize: vertical;
  border: 0;
  font-size: 12px;
  overscroll-behavior: contain;
}
fireenjin-editor .ce-block--drop-target .ce-block__content {
  outline-color: #a0a0a0;
  outline-style: dashed;
  outline-width: 1px;
}
fireenjin-editor .ce-block--drop-target .ce-block__content:before {
  content: "";
  position: absolute;
  top: 50%;
  left: -20px;
  margin-top: -1px;
  height: 8px;
  width: 8px;
  border: solid #a0a0a0;
  border-width: 1px 1px 0 0;
  -webkit-transform-origin: right;
  transform-origin: right;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
fireenjin-editor .ce-block--drop-target .ce-block__content:after {
  background: none;
}
fireenjin-editor fireenjin-code-editor {
  display: block;
}
fireenjin-editor .show-preview fireenjin-code-editor {
  display: none;
}
fireenjin-editor .html-preview {
  display: none;
}
fireenjin-editor .show-preview .html-preview {
  display: block;
}

@media (min-width: 651px) {
  fireenjin-editor .codex-editor--narrow .ce-toolbar__plus {
    left: -60px;
  }
}
